.box-head {
  border: 1px solid black;
  height: 30px;
}

.height-5 {
  height: 5em;
}

.font-nav {
  font-family: "Archivo Black", sans-serif;
  font-size: 17px;
}

.img-hero {
  width: 100vw;
  height: 50vh;
}
.box-hero {
  position: relative;
  /* text-align: center; */
  color: white;
}
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.font-1 {
  font-weight: bold;
  background-color: black;
  transform: translate(0%, -600%);
  color: white;
}
.font-2 {
  font-weight: bold;
  font-size: 72px;
  color: white;
}
.font-3 {
  font-weight: bold;
  font-size: 30px;
  transform: translate(0%, -75%);
  color: white;
}
.font-4 {
  font-weight: bold;
  background-color: black;
  transform: translate(0%, -425%);
  margin-left: 10px;
  color: white;
}
.font-5 {
  font-weight: bold;
  font-size: 40px;
  margin-left: 10px;
  color: white;
}
.font-6 {
  font-weight: bold;
  font-size: 24px;
  transform: translate(0%, -50%);
  margin-left: 10px;
  color: white;
}
.font-7 {
  font-weight: bold;
  font-size: 24px;
  transform: translate(0%, 50%);
  margin-left: 10px;
  color: black;
}
hr.new {
  border: 2px solid black;
}
img {
  padding: 0px;
  max-width: 100vw !important;
}
.mt-6 {
  margin-top: 6em;
}
.mt-7 {
  margin-top: 7em;
}
